body,
html {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header {
  background-color: black;
  height: 50px;
}

.main-container {
  height: 1100px;
  display: flex;
  flex-flow: column wrap;
  align-content: center;
}

.header-list {
  height: 50px;
  padding: 0 50px;
  align-items: center;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.article-container {
  margin: 10px;
  box-shadow: 0 0 10px #888888;
  outline-width: 1px;
  width: 400px;
  padding-bottom: 20px;
}

.image {
  width: 400px;
  height: 200px;
}

.article-title {
  margin: 0;
  padding: 5px 15px;
}

.article-content {
  margin: 0;
  padding: 0 15px;
}

.article-link {
  display: block;
  margin: 15px 15px;
  text-decoration: none;
  color: rgb(0, 89, 253);
}

.left-aside {
  margin: 0 15px;
  height: 100%;
  width: 170px;
}

.about-container {
  margin-top: 10px;
  background-color: #f7f7f7;
  padding: 10px;
}

.about-title {
  padding: 0;
  margin: 30px 0 10px 0;
  font-style: italic;
}

.about-content {
  padding: 0;
  margin: 0 0 15px 0;
}

.archives-container {
  margin: 20px 0 0 0;
}

.archives-title {
  padding: 0;
  margin: 0 0 10px 0;
  font-style: italic;
}

.archives-link-container {
  display: flex;
  flex-flow: column;
}
